.b-example-divider {
  height: 1rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
    inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

.navbar {
  background-color: #d6cdea;
}

.navbar img {
  max-width: 50px;
  max-height: 50px;
}
.carousel-indicators [data-bs-target] {
  background-color: rgb(71, 71, 71);
}

.separator {
  height: 5px;
}

.separator-product {
  height: 30px;
}

/* Product Image Styling */

.image-container {
  display: flex;
  padding: 20px;
  min-height: 172px;
  min-width: 152px;
  max-height: 240px;
  max-width: 210px;
}
.card {
  max-width: 213px;
}
.card-img-top {
  max-height: 270px;
  max-width: 250px;
}

.card-title {
  font-size: 16.5px;
  white-space: nowrap;
  max-width: 20ch;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card-text {
  font-size: 13px;
  margin-bottom: 10px;
}
.btn {
  font-size: 12px;
}
.products {
  display: grid;
  grid-template-columns: repeat(4, 23%);
  padding-left: 10px;
  grid-gap: 1rem;
}

.footer a {
  text-decoration: none;
}

.footer a img {
  max-width: 20px;
  max-height: 20px;
}
@media (min-width: 300px) and (max-width: 369px) {
  .products {
    display: grid;
    grid-template-columns: repeat(2, 60%);
    row-gap: 1rem;
    padding-right: 74px;
    padding-left: 3px;
  }
  .card-body {
    padding-top: 0px;
  }
  .image-container {
    display: flex;
    padding: 17px;
    max-height: 240px;
    max-width: 210px;
  }
  .card {
    max-width: 170px;
  }
  .card-img-top {
    max-height: 145px;
    max-width: 120px;
  }

  .card-title {
    font-size: 13.5px;
  }
  .card-text {
    font-size: 11px;
    margin-bottom: 7px;
  }
  .btn {
    font-size: 9px;
  }
}

.foot-header {
  background: #d6cdea;
}

.foot-header span {
  color: black;
  font-size: small;
}
.footer-body p {
  font-size: small;
}
@media (min-width: 370px) and (max-width: 439px) {
  .products {
    display: grid;
    grid-template-columns: repeat(2, 60%);
    row-gap: 1rem;
    padding-right: 74px;
    padding-left: 16px;
  }

  .image-container {
    display: flex;
    padding: 17px;
    max-height: 240px;
    max-width: 210px;
  }
  .card {
    max-width: 176px;
  }
  .card-img-top {
    max-height: 170px;
    max-width: 145px;
  }

  .card-title {
    font-size: 13.5px;
  }
  .card-text {
    font-size: 11px;
    margin-bottom: 7px;
  }
  .btn {
    font-size: 9px;
  }
}
@media (min-width: 440px) and (max-width: 576px) {
  .products {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    row-gap: 1rem;
    padding-right: 58px;
    padding-left: 29px;
  }
  .card-body {
    padding-top: 0px;
  }
  .image-container {
    display: flex;
    padding: 17px;
    max-height: 240px;
    max-width: 210px;
  }
  .card {
    max-width: 170px;
  }
  .card-img-top {
    max-height: 160px;
    max-width: 130px;
  }

  .card-title {
    font-size: 13.5px;
  }
  .card-text {
    font-size: 11px;
    margin-bottom: 7px;
  }
  .btn {
    font-size: 9px;
  }
}

/*
@media (min-width: 540px) and (max-width: 576px) {
  .products {
    display: grid;
    grid-template-columns: repeat(2, 40%);
    row-gap: 1rem;
    padding-right: 10px;
    padding-left: 73px;
  }
  .card-body {
    padding-top: 0px;
  }
  .image-container {
    display: flex;
    padding: 17px;
    max-height: 240px;
    max-width: 210px;
  }
  .card {
    max-width: 200px;
  }
  .card-img-top {
    max-height: 170px;
    max-width: 150px;
  }

  .card-title {
    font-size: 13.5px;
  }
  .card-text {
    font-size: 11px;
    margin-bottom: 7px;
  }
  .btn {
    font-size: 9px;
  }
}
*/
@media (min-width: 577px) and (max-width: 768px) {
  .products {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-gap: 2.5rem;
    padding: 0px;
    padding-right: 0px;
    padding-right: 20px;
  }
  .card-body {
    padding-top: 0px;
  }
  .image-container {
    display: flex;
    padding: 17px;
    max-height: 240px;
    max-width: 210px;
  }
  .card {
    max-width: 200px;
  }
  .card-img-top {
    max-height: 140px;
    max-width: 120px;
  }

  .card-title {
    font-size: 13.5px;
  }
  .card-text {
    font-size: 11px;
    margin-bottom: 7px;
  }
  .btn {
    font-size: 9px;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .products {
    display: grid;
    grid-template-columns: repeat(4, 22%);
    grid-gap: 2rem;
  }
  .card-body {
    padding-top: 0px;
  }

  .image-container {
    display: flex;
    padding: 17px;
    max-height: 240px;
    max-width: 210px;
  }
  .card {
    max-width: 200px;
  }
  .card-img-top {
    max-height: 140px;
    max-width: 120px;
  }

  .card-title {
    font-size: 13.5px;
  }
  .card-text {
    font-size: 11px;
    margin-bottom: 7px;
  }
  .btn {
    font-size: 9px;
  }
}
